body{
	margin:10px;
}
#content{
	border-left:1px solid #11a3ff;      /*大边框宽度*/
	border-right:1px solid #11a3ff;
	border-bottom:1px solid #11a3ff;
	padding:15px;/*整体内容与大边框的距离*/
	font-size:22px;/*内容（字）的大小*/
}
ul#tabnav{
	list-style-type:none;
	margin:0px;
	padding-left:0px;
	padding-bottom:23px;
	border-bottom:1px solid #11a3ff;
	font:bold 12px verdan, arial;
}
ul#tabnav li{
	float:left;
	height:22px;
	background-color:#a3dbff;
	margin:0px 3px 0px 0px;/*小标题的距离*/
	border:1px solid #11a3ff;/*小标题边框的粗细*/
}
ul#tabnav a:link, ul#tabnav a:visited{
	display:block;
	color:#006;
	text-decoration:none;
	padding:5px 10px 3px 10px;
}
ul#tabnav a:hover{
	background-color:#006;
	color:#0FF;
}
body#st li.st, body#grzl li.grzl,
body#cj li.cj, body#ma li.ma,
body#bk li.bk, body#blog li.blog{
	border-bottom:1px solid #ffffff;
	color:#000000;
	background-color:#ffffff;
}
body#st li.st a:link, body#st li.st a:visited,
body#grzl li.grzl a:link, body#grzl li.grzl a:visited,
body#cj li.cj a:link, body#cj li.cj a:visited,
body#ma li.ma a:link,body#ma li.ma a:visited,
body#bk li.bk a:link, body#bk li.bk a:visited
body#blog li.blog a:link,  body#blog li.blog a:visited{
	color:#006;
	text-decoration:underline
}

